@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container{
    width: 1000px;
    height: 700px;
    display: flex;
    margin-top: 100px;
}
.container2{
    margin-top: 100px;
    /* width:fit-content; */
}
.leftside,.rightside{
    flex-basis: 50%;
}
.rightside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    gap: 20px;
}
.col{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.error-message,.mandatory{
    color: rgb(250, 9, 9);
    font-size: small;
}
.creteAccount,.noUpdate{
    height: 40px;
    border: none;
    background-color: rgb(20, 206, 7);
    color: #fff;
    font-weight: 800;
    font-size: medium;
}
.noUpdate{
    background-color: rgb(202, 12, 12);
}
.creteAccount:hover{
    background-color: rgb(6, 150, 5);
    cursor: pointer;
}
table{
    border-collapse: collapse;
    height: auto;
}
th,td{
    border: 2px solid rgba(124, 124, 124, 0.6);
    padding: 5px;
    text-align: center;
}
tr{
    height: 10px;
}
.sortBy,.filterBy{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    gap: 5px;
}
#sortByWho{
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #9c9a9a;
}
 .actionRow{
    display: flex;
    gap: 20px;
    justify-content: start
 }
 .filterBy{
    /* border: #9c9a9a 0.1px solid; */
    padding:0px 15px;
    border-radius: 5px;
    opacity: 0.9;
 }
 .filterContent{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    letter-spacing: 2px;
}
.filterBar{
    max-width: 200px;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    left: 300px;
    top: 300px;
    display: none;
}
.filterContent p{
    align-items: center;
    color: #000;
    font-weight: 700;
}
.filterBy:hover + .filterBar{
    display: block;
}
.filterBar:hover{
    display: block;
}