@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* #47b475 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container{
    width: 1000px;
    height: fit-content;
    display: flex;  
}
.container2{
    margin-top: 80px;
    /* width:fit-content; */
}
.leftside{
    flex-basis: 50%;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.rightside{
    flex-basis: 50%;
    margin: 20px;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
}
.rightside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    gap: 20px;
}
.col{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.error-message,.mandatory{
    color: rgb(250, 9, 9);
    font-size: small;
    font-weight: 700;
}
.creteAccount,.noUpdate{
    height: 40px;
    border: none;
    background-color: #47b475;
    color: #fff;
    font-weight: 800;
    font-size: medium;
    max-width: 70%;
    align-items:center;
    margin-left: 104px;
    border-radius: 7px;
}
.noUpdate{
    background-color: rgb(202, 12, 12);
}
.creteAccount:hover{
    background-color: #0fc259;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    height: auto;
}
th,td{
    border: 2px solid rgba(124, 124, 124, 0.6);
    padding: 5px;
    text-align: center;
}
tr{
    height: 10px;
}
.sortBy,.filterBy{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    gap: 5px;
}
#sortByWho{
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #9c9a9a;
}background-color: aqua;
 .actionRow{
    display: flex;
    gap: 20px;
    justify-content: start
 }
 .filterBy{
    /* border: #9c9a9a 0.1px solid; */
    padding:0px 15px;
    border-radius: 5px;
    opacity: 0.9;
 }
 .filterContent{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    letter-spacing: 2px;
}
.filterBar{
    max-width: 200px;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    left: 300px;
    top: 300px;
    display: none;
}
.filterContent p{
    align-items: center;
    color: #000;
    font-weight: 700;
}
.filterBy:hover + .filterBar{
    display: block;
}
.filterBar:hover{
    display: block;
}
.option{
    margin-right: 5px;
}
.label{
    margin-right: 10px;
}
.upperContainer{
    width: 1040px;
    height: auto;
    padding: 10px;
    /* background-color: aqua; */
    margin-top: 80px;
    display: flex;
    justify-content: center;
    background-image: url("/public/66347.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
h1{
    text-align: center;
}
.slide1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.heading{
    font-family: "Playfair Display", serif;
}
.subheading{
    /* font-size: 20px; */
    color: #333;
    text-align: center;
}
label{
    font-weight: 700;
    margin-bottom: 5px;
}
.label{
    margin-bottom: 5px;
}
input,textarea,select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: "lato", sans-serif;
    background-color: #fff;
    color: #333;
}
::placeholder{
    color: #333;
}
select:focus,textarea:focus,input:focus{
    outline: none;
    box-shadow: 0 0 5px #47b475;
}

/* Important style to remove the default behavior of the drop down */
select {
  appearance: base-select;
}
select::picker(select) {
  appearance: base-select;
  border: none;
  padding: 5px;
  background-color: #ffffff;
}

option:hover {
  background-color: #47b475;
  color: white;
}
option:checked {
  background-color: #47b475; 
  outline: none;
}

/* For radio and checkbox styles */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none; /* WebKit specific */
  width: 6px;
  height: 6px;
  border: 2px solid #ccc;  /* Your custom border */
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

/* Specific to Radio (Circular) */
input[type="radio"] {
  border-radius: 50%;
}

/* Checked state */
input[type="radio"]:checked ,input[type="checkbox"]:checked {
  background-color: #47b475; /* Your base color */
  border-color: #47b475;
}

/* Custom internal dot for radio */
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.centerAlign{
    display: inline-flex;
    align-items: center;
}